<!DOCTYPE html>
<html>
    <head>
        <title>About Page</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was creted by Toth, it uses data from mapbox and weatherstack for an online course </p>
            <img class="portrait" src="images/profile_pic.jpg"/>
            <p>{{name}}</p>
        </div>
        {{>footer}}
    </body>
</html>