<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/images/weather.png" />
        <link rel="stylesheet" href="/css/style.css" />        
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Location:</p>
            <form>
                <input id="location" type="text" placeholder="Location"/>
                <button type="submit">Search</button>
            </form>
            <p id="text1" style=" color:#900;"></p>
            <p id="text2" style=" color:#333;"></p>
            <p id="text3" style=" color:#333;"></p>
        </div>
        {{>footer}}
        <script src="js/app.js" ></script>
    </body>
</html>